.section-presentation {
  &__corps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include laptop {
      flex-wrap: wrap-reverse;
    }
  }
  &__visuel {
    position: relative;
    width: 42%;
    @include laptop {
      width: 100%;
      margin-top: $margin-responsive;
    }
    &--projet {
      width: 46%;
      @include laptop {
        width: 100%;
      }
    }
  }
  &__grand-cont-liens {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    a {
      margin: 30px 0 10px;
    }
  }
  &__img-histoire {
    width: 100%;
  }
  &__liste-textes {
    display: flex;
    flex-direction: column;
    width: 48%;
    @include laptop {
      width: 100%;
    }
    &--mobile {
      width: 35%;
      @include laptop {
        width: 100%;
      }
    }
  }
  &__paragr {
    line-height: 32px;
    text-align: justify;
    font-size: 1.5rem;
    @include tablette {
      margin-top: 0;
      font-size: 1.25rem;
    }
    &--projet {
      font-size: 1.35rem;
      @include tablette {
        font-size: 1.25rem;
      }
    }
    &--grand-texte {
      margin: 10px 0;
    }
  }
}
