.section-competences {
  padding-bottom: $section-padding-bottom;
  background: linear-gradient(180deg, $color-sec 0%, #bb7c4e 100%);
  font-size: 1.35rem;
  &__corps {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    @include laptop {
      display: block;
    }
  }
  &__metier {
    width: 49%;
    text-align: justify;
    @include laptop {
      width: 100%;
    }
    ul {
      margin-top: 70px;
      list-style-type: square;
      @include laptop {
        margin-top: $margin-responsive;
      }
      @include mobile {
        list-style-type: none;
      }
    }
    li {
      margin-bottom: 25px;
      @include tablette {
        font-size: 1.25rem;
      }
    }
  }
  &__graphique {
    position: relative;
    height: 540px;
    .liste-types {
      display: flex;
      margin-bottom: 5px;
      gap: 10px;
    }
    .type {
      padding: 0;
      cursor: pointer;
    }
    .type:not(.selection) {
      color: #b7b7b7;
    }
    .type:not(.selection):hover {
      animation: clignoteType 600ms infinite;
    }
    .liste-noms {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 12px 0 12px;
      width: 100%;
      height: 100%;
      z-index: 1;
      font: bold 1rem "Telegraph";
      letter-spacing: $letter-spacing-title;
      text-align: center;
    }
    li:not(.type) {
      padding-left: 6px;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include tablette {
        font-size: 0.8rem;
      }
    }
  }
}

@keyframes clignoteType {
  0% {
    color: #959595;
  }
  50% {
    color: white;
  }
  100% {
    color: #959595;
  }
}
