.page-competences {
  background: linear-gradient(180deg, $color-sec 0%, #bb7c4e 100%);
  font-size: 1.35rem;
  .page-titre {
    @include page-titre(white);
  }
  &__corps {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    @include laptop {
      display: block;
    }
  }
  &__metier {
    width: 49%;
    text-align: justify;
    @include laptop {
      width: 100%;
    }
    ul {
      margin-top: 70px;
      list-style-type: square;
      @include laptop {
        margin-top: $margin-responsive;
      }
      @include mobile {
        list-style-type: none;
      }
    }
    li {
      margin-bottom: 25px;
      @include tablette {
        font-size: 1.25rem;
      }
    }
  }
  &__graphique {
    position: relative;
    height: 540px;
    ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      z-index: 1;
      font: bold 1rem "Telegraph";
      letter-spacing: $letter-spacing-title;
      text-align: center;
    }
    li {
      padding-left: 6px;
      line-height: 32px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include tablette {
        font-size: 0.9rem;
      }
      @include mobile {
        font-size: 0.8rem;
      }
    }
  }
}
