.page-competences {
  color: white;
  background: linear-gradient(180deg, $color-sec 0%, #bb7c4e 100%);
  font-size: 1.35rem;
  .page-titre {
    @include page-titre(white);
  }
  &__corps {
    display: flex;
    justify-content: space-between;
    gap: 4%;
  }
  &__metier {
    width: 49%;
    text-align: justify;
    ul {
      margin-top: 70px;
    }
    li {
      margin-bottom: 25px;
    }
  }
  &__graphique {
    position: relative;
    height: 540px;
    ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 1;
      list-style: none;
      font: bold 1rem "Telegraph";
      letter-spacing: 0.3rem;
      text-align: center;
      li {
        line-height: 32px;
      }
    }
  }
}
