.mobile-conteneur {
  position: absolute;
  width: 34%;
  &--gauche {
    top: 10%;
    left: -27%;
    @include laptop {
      top: -12%;
      left: initial;
      right: -6%;
    }
  }
  &--droite {
    top: 5%;
    right: -30%;
    @include laptop {
      top: -16%;
      right: -9%;
    }
  }
  .mobile-android {
    width: 100%;
    &__ecran {
      position: absolute;
      width: 78.5%;
      height: 72%;
      top: 12%;
      left: 10%;
      overflow: hidden;
    }
    &__video {
      width: 100%;
    }
    &__image {
      width: 100%;
    }
  }
}
