.page-presentation {
  &__corps {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__demo {
    width: 42%;
    img {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__liens {
    display: flex;
    justify-content: space-around;
  }
  &__textes {
    display: flex;
    flex-direction: column;
    width: 48%;
    p {
      line-height: 32px;
      text-align: justify;
    }
  }
}
