.page-presentation {
  &__corps {
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 48%;
    }
  }
}
