body {
    margin: auto;
    width: 1000px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
    user-select: none;
  }

* {
    box-sizing: border-box;
  }