@font-face {
  font-family: "Libre Franklin";
  src: url(../assets/polices/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Telegraph";
  src: url(../assets/polices/Telegraf-Regular-400.otf);
}

@font-face {
  font-family: "Telegraph Ultra";
  src: url(../assets/polices/Telegraf-UltraBold-800.otf);
}

body {
  margin: auto;
  font-family: "Libre Franklin", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-weight: 300;
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1 {
  position: absolute;
  bottom: 11%;
  width: max-content;
  margin: 0;
  font: normal 5.6rem "Telegraph Ultra";
  line-height: 102px;
  animation: glisseEnBas 250ms 150ms backwards ease-in;
  @include laptop {
    position: static;
    margin-bottom: $margin-responsive;
  }
  @include tablette {
    font-size: 4.6rem;
    line-height: 85px;
  }
  @include mobile {
    font-size: 4rem;
    line-height: 75px;
  }
}

h2 {
  max-width: 40%;
  margin: 0 40px 0 0;
  font-weight: 300;
  font-size: 1.8rem;
  @include laptop {
    max-width: 52%;
  }
  @include tablette {
    font-size: 1.4rem;
  }
}

h3 {
  margin: 0;
  font: 700 1.3rem "Telegraph";
  letter-spacing: $letter-spacing-title;
  line-height: 34px;
  text-align: center;
  @include tablette {
    font-size: 1.1rem;
  }
}

.page-conteneur {
  position: relative;
  height: 760px;
  padding: 70px 40px 0 0;
  @include laptop {
    padding-right: 0;
  }
  @include laptop {
    height: auto;
  }
  .page-contenu {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    @include laptop {
      width: 70%;
    }
    @include mobile {
      width: 86%;
    }
  }
}

.page-titre {
  display: flex;
  margin-bottom: 75px;
  @include laptop {
    margin-bottom: 50px;
  }
  &__ligne {
    flex: 1;
    height: 1px;
    margin-top: 18px;
  }
}

.image {
  width: 44%;
  @include laptop {
    width: 100%;
    margin-top: $margin-responsive;
  }
}

@keyframes glisseEnBas {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
