@font-face {
  font-family: "Libre Franklin";
  src: url(../assets/polices/LibreFranklin-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Telegraph";
  src: url(../assets/polices/Telegraf-Regular-400.otf);
}

@font-face {
  font-family: "Telegraph Ultra";
  src: url(../assets/polices/Telegraf-UltraBold-800.otf);
}

body {
  margin: auto;
  width: 100%;
  font-family: "Libre Franklin", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1 {
  position: absolute;
  bottom: 11%;
  width: 425px;
  margin: 0;
  font: bold 6.5rem "Telegraph";
}

h2 {
  max-width: 40%;
  margin: 0 40px 0 0;
  font-weight: 300;
  font-size: 1.8rem;
}

h3 {
  margin: 0;
  font: 700 1.3rem "Telegraph";
  letter-spacing: $letter-spacing-title;
  line-height: 34px;
  text-align: center;
}

.page-conteneur {
  position: relative;
  height: 760px;
  padding: 70px 40px 0 0;
  .page-contenu {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
}

.page-titre {
  display: flex;
  margin-bottom: 75px;
  &__ligne {
    flex: 1;
    height: 1px;
    margin-top: 18px;
  }
}

.image {
  width: 44%;
}
