@mixin page-titre($priColor) {
  display: flex;
  margin-bottom: 75px;
  &:after {
    content: "";
    flex: 1;
    height: 1px;
    margin-top: 18px;
    background: linear-gradient(90deg, $color-intro, transparent);
  }
}
