@mixin page-titre($color) {
  display: flex;
  margin-bottom: $margin-bottom-title;
  &:after {
    content: "";
    flex: 1;
    height: 1px;
    margin-top: 18px;
    background: linear-gradient(90deg, $color, transparent);
  }
}
