$color-pri: #dcbc9f;
$color-sec: #5c3539;
$color-ter: #ffe6ea;
$color-fin: #243435;

$breakpoint: (
  mobile: 480px,
  tablette: 767px,
  laptop: 1040px,
);

$margin-responsive: 40px;
$letter-spacing-title: 0.3rem;
