.page-intro {
  color: $color-pri;
  background: linear-gradient(180deg, black 0%, $color-sec 100%);
  .page-titre {
    @include page-titre($color-pri);
    animation: apparition 200ms 50ms backwards ease;
  }
}

.page-intro-corps {
  display: flex;
  justify-content: space-between;
  @include laptop {
    flex-wrap: wrap;
  }
  img {
    height: fit-content;
    border: 1px solid $color-pri;
  }
  &__img--petit {
    width: 15%;
    animation: glisseADroite 0.4s 100ms backwards ease-out;
    @include laptop {
      width: 30%;
    }
  }
  &__img--moyen {
    width: 22%;
    animation: glisseADroite 0.6s 400ms backwards ease-out;
    @include laptop {
      width: 40%;
    }
  }
  &__hero {
    position: relative;
    img {
      width: 100%;
      animation: glisseADroite 0.8s 700ms backwards ease;
    }
    span {
      position: absolute;
      left: 0;
      bottom: -25px;
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      animation: apparition 250ms 1150ms backwards ease;
      @include tablette {
        font-size: 1.35rem;
      }
    }
  }
}

@keyframes glisseADroite {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
