.page-intro {
  color: $color-pri;
  background: linear-gradient(180deg, black 0%, $color-sec 100%);
  .page-titre {
    @include page-titre($color-pri);
  }
}

.page-intro-corps {
  display: flex;
  justify-content: space-between;
  img {
    height: fit-content;
    border: 1px solid $color-pri;
  }
  &__img--petit {
    width: 15%;
  }
  &__img--moyen {
    width: 22%;
  }
  &__hero {
    position: relative;
    img {
      width: 100%;
    }
    span {
      position: absolute;
      left: 0;
      bottom: -25px;
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
