.carrousel {
  position: relative;
  &__cont-img {
    max-height: 420px;
    overflow-y: scroll;
  }
  &__img {
    width: 100%;
  }
  &__liste-medias {
    display: flex;
    margin: auto;
    width: 156px;
    height: 50px;
    justify-content: space-between;
  }
  &__liste-pages {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 2%;
  }
  &__liste-vues {
    position: absolute;
    display: flex;
    bottom: 20px;
    right: 20px;
    gap: 5px;
    @include mobile {
      right: initial;
    }
  }
}
