.header {
  padding-top: 70px;
  color: $color-pri;
  background: linear-gradient(180deg, black 0%, $color-sec 100%);
  @include laptop {
    height: auto;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: $section-padding-bottom;
  }
  &__colonne {
    position: relative;
    height: fit-content;
    cursor: pointer;
    &:hover .header__img {
      transform: scale(1.1);
    }
    @include mediaAvecSurvol(hover) {
      &:hover span {
        animation: glisseRaccourciEnBas 300ms forwards;
      }
    }
    &--petit {
      width: 15%;
      animation: glisseADroite 600ms 100ms backwards ease-out;
      @include laptop {
        width: 30%;
      }
    }
    &--moyen {
      width: 22%;
      animation: glisseADroite 600ms 300ms backwards ease-out;
      @include laptop {
        width: 40%;
      }
    }
    &--grand {
      width: 44%;
      animation: glisseADroite 600ms 500ms backwards ease-out;
      @include laptop {
        width: 100%;
        margin-top: 50px;
      }
    }
    span {
      position: absolute;
      bottom: -30px;
      opacity: 0;
      width: 100%;
      text-align: center;
      font-size: 1rem;
      @include mediaAvecSurvol(none) {
        opacity: 1;
      }
      @include laptop {
        font-size: 0.9rem;
      }
      @include mobile {
        font-size: 0.8rem;
      }
    }
  }
  &__cont-img {
    overflow: hidden;
    border: 1px solid $color-pri;
  }
  &__img {
    width: 100%;
    vertical-align: bottom;
    transition: transform 200ms;
  }
}

@keyframes glisseADroite {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes glisseRaccourciEnBas {
  0% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}
