.lien {
  margin: 20px auto 0;
  text-decoration: none;
  width: fit-content;
  padding-left: 5px;
  font: normal 1.5rem "Telegraph";
  letter-spacing: $letter-spacing-title;
  @include tablette {
    font-size: 1.35rem;
  }
  &:hover {
    font-weight: bold;
    @-moz-document url-prefix() {
      letter-spacing: 0.26rem;
    }
  }
}
